<div class="col-md-6 offset-md-3 p-3">
    <h3> Create Patient </h3>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label> Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="patient.name" name="name">
        </div>

        <div class="form-group ">
            <label> Visited Doctor</label>
            <div>
                <select name="doctors" class="p-2" [(ngModel)]="patient.visitedDoctor">
                    <option placeholder selected>Select Doctor</option>
                    <option *ngFor="let doctor of doctors" [ngValue]="doctor.name">
                        {{doctor.name}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label> Date Of Visit</label>
            <input type="date" class="form-control" id="date_Of_Visit" [(ngModel)]="patient.date_Of_Visit"
                name="date_Of_Visit">
        </div>

        <button class="btn btn-success" type="submit">Submit</button>

    </form>
</div>